.jumbotron {
    background-image: url('./images/background.jpg');
    background-position: center;
    background-color: rgba(32, 10, 10, 0.4);
    background-blend-mode: color;
    color: white;
    margin-bottom: 0;
    animation: initialSlide 1s;
}

@keyframes slide {
    0% {
        transform: translateY(3%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes initialSlide {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

.animate {
    animation: slide 0.5s linear;
}

.animate-init {
    animation: initialSlide 1s;
}